@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  /* overflow: hidden; */
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.header {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 4px 40px;
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 40px;
}

.container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}

.item {
  flex: 1;
  width: 400px;
  height: auto;
  min-width: 200px;
  padding: 16px;
  margin: 16px;
}

.footer {
  flex: 0 1 auto;
  margin-top: auto;
  height: auto;
  display: flex;
  background: #eeeeee;
  padding: 8px;
}

.left-links {
  flex: 0 1 auto;
  display: flex;
  gap: 8px;
  padding: 4px 16px;
  margin: 0px 16px;
  align-content: center;

}

.right-links {
  flex: 0 1 auto;
  margin: 0px 0px 0px auto;
  display: flex;
  gap: 8px;
  align-content: center;
}

img {
  width: 200px;
  flex: 0 0 auto;
  border-radius: 20px;
  margin: auto;
}

.center {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

button {
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  background: #3882F6;
  font-size: 18px;
  font-weight: bold;
  color: #E5E7EB;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

/* palette styling */

.hero, .footer {
  background: #1F2937;
}

.main {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.secondary, .link {
  font-size: 18px;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.info {
  font-size: 18px;
  color: #1F2937;
}